[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
out/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

.idea/

[Tt]est[Rr]esult*/
*.trx
*.log

*.nupkg
project.lock.json
project.fragment.lock.json
packages/

.DS_Store
Thumbs.db

*.swp
*.swo
*~
