# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
out/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Rider
.idea/

# Test Results
[Tt]est[Rr]esult*/
*.trx
*.log

# NuGet
*.nupkg
project.lock.json
project.fragment.lock.json
packages/

# OS generated
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
